<link rel="stylesheet" href="/css/footer.css">
<footer class="site-footer">
    <div class="container">
        <div class="footer-info">
            <h3>H E L L O&nbsp;&nbsp;F O L I O</h3>
            <p>개발자들의 포트폴리오를 공유하고 연결하는 플랫폼</p>
        </div>
        <div class="footer-team">
            <h4>팀 네카라쿠배</h4>
            <p>팀장: 이승철</p>
            <p>팀원: 노민관 류진형 송가은 이현호</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; H E L L O&nbsp;&nbsp;F O L I O. All rights reserved. Designed by 네카라쿠배.</p>
    </div>
</footer>