<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELLO FOLIO</title>
    <link rel="stylesheet" href="/css/forgot-pw.css">
</head>
<body>
    <div class="container">
        <h1 id="title">H E L L O&nbsp;&nbsp;F O L I O</h1>
        <p id="produce">Show & Share your Portfolio</p>
    
        <h2 class="forgotPasswordTitle">비밀번호 재설정</h2><br>

      <div class="forgotPasswordForm">
        <form id="forgotPasswordForm">
            <!-- <label for="email">이메일:</label> -->
            <input type="email" id="email" name="email" required>
            <button class="send-button" type="submit">비밀번호 재설정 링크 보내기</button>
        </form>
      </div>
    </div>

    <script src="/js/auth/forgot-pw.js"></script>
</body>
</html>