* {
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column; /* 요소들을 수직으로 쌓음 */
    justify-content: center; /* 세로 방향 가운데 정렬 */
    align-items: center; /* 가로 방향 가운데 정렬 */
}

#title {
    font-size: 80px;
    padding-bottom: 10px;
    text-align: center; /* 텍스트를 가운데 정렬 */
}

#produce {
    font-size: 25px;
    font-weight: bold;
    color: gray;
    padding-bottom: 100px;
}

.forgotPasswordTitle {
    font-size: 35px;
    padding-bottom: 10px;
    text-align: center;
}

.forgotPasswordForm {
    text-align: center; 
}

#email,
.send-button {
    height: 50px;
    width: 350px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: block;
    font-size: 20px;
}

.send-button {
    background-color: black;
    color: white;
}

.send-button:hover {
    cursor: pointer;
}